<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Aulas particulares</title>
      <link rel="stylesheet" href="/css/style.css">
   </head>

   <body>
      <header>
         <div class="links">
            <a href="/teachers">professores(a)</a>
            <a href="/students">Alunos(a)</a>
         </div><!--links-->
      </header>

      {% block content %}
      {% endblock content %}

      <script src="/js/script.js"></script>
   </body>
</html>