{% extends "layout.njk" %}

{% block title %}
   <title>Inicio</title>
{% endblock title %}

{% block content %}
   <section class="banner-destaque">
      <div class="container">
         <div class="banner">
            <div class="banner-info">
               <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h2>
               <p>No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa.</p>
               <a href="#">Quero embarcar nesse foguete</a>
            </div><!--banner-info-->
            <div class="banner-img">
               <img src="images/banner.png" alt="imagem de tecnologias">
            </div><!--banner-img-->
         </div><!--banner-->
      </div><!--container-->
   </section>
{% endblock content %}
