{% extends "layout.njk" %}

{% block content %}
    <div class="banner-not-found">
        <div class="container">
            <div class="banner-not-found-img">
                <img src="/images/404.png" alt="pagina nao encontrada">
            </div>
        </div>
    </div>
    
{% endblock content %}